<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title>CV-demo</title>
  </head>
  <body>

      <h1 style="align-content: center;">
        CV - demo
      </h1>

      <div class="container">
          <div class="row">
            <div class="col-3">
            <table class="table table-image">
              <thead>
                <tr>
                  <th scope="col">Cam Id</th>
                  <th scope="col">Original stream</th>
                  {%for zone in zones%}
                    <th scope="col">{{zone}}</th>
                  {%endfor%}
                </tr>
              </thead>
              <tbody>
                {%for device in devices%}
                  <tr>
                  <th scope="row">{{device}}</th>
                  <td class="w-25">
                      <img src="{{ url_for('original_video_feed', device=device) }}">
                  </td>
                  {%for zone in zones%}
                  <td>
                      <img src="{{ url_for('remote_video_feed', device=device, zone=zone) }}">
                  </td>
                  {%endfor%}
                  </tr>
                {%endfor%}
              </tbody>
            </table>   
            </div>
          </div>
        </div>

      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>

